.icon {
  background-position: 0 0px;
	background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  float: right;
  margin: 0.5em;
}

.ic-mode-edit {
	background-image: url(ic_mode_edit_48px.svg);
}

.ic-cloud {
	background-image: url(ic_cloud_48px.svg);
}

.ic-view-module {
	background-image: url(ic_view_module_48px.svg);
}

.topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;

  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.topbar-full-width {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 4em;
  
  background: white;
}

#author-topbar {
  opacity: 0.02;
  width: 50%;
  height: 30%;  
}

#selector-topbar {
  opacity: 0.02;
  width: 50%;
  height: 4em;
}

#author-topbar:hover {
  opacity: 0.8;
}
#selector-topbar:hover {
  opacity: 0.8;
}

#gallery-container {
  margin-top: 48px;
  padding: 1em;
}

.phenotype {
  padding: 1em;
}

html,body {
  height: 100%;
  margin: 0;
  background-color: #E5E5E5;
  font-family: 'RobotoDraft', sans-serif;
}

.flex-container-h {
  height: 100%;
  width: 100%;
  margin: 0;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

#render-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  order: 1;

  width: 50%;
}

#editor-container {
  order: 2;

  width: 50%;

  -webkit-flex-grow: 1;
  flex-grow: 1;

  height: 100%; 
}

.CodeMirror {
  height: 100%; 
}

.flex-item-canvas {
  order: 2;
  
  -webkit-flex-grow: 6;
  flex-grow: 6;

  display: -webkit-flex;
  display: flex;

  -webkit-align-items: center;
  align-items: center;
  
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-item-console {
  order: 3;
  
  -webkit-flex-grow: 1;
  flex-grow: 1;

  display: -webkit-flex;
  display: flex;

  -webkit-align-items: center;
  align-items: center;

  -webkit-justify-content: center;
  justify-content: center;
}


#codemirror-textarea {
  -webkit-flex-grow: 2;
  flex-grow: 2;
  height: 100%;
}

#eval-button {
  background: green;
  color: yellow;
  padding: 0.5em;
}

/*
#render-canvas {
  border: none;
  margin: 2em;

  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;

  width: 500px;
  height: 500px;
}

*/
.hidden {
  display: none;
}
