
.card-image.selected {
  background: red;
}

.phenotype {
  padding: 1em;
}

html,body {
  height: 100%;
  margin: 0;
  background-color: #E5E5E5;
  font-family: 'RobotoDraft', sans-serif;
}

.flex-container-h {
  height: 100%;
  width: 100%;
  margin: 0;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

#render-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  order: 1;

  width: 50%;
}

#editor-container {
  order: 2;

  width: 50%;

  -webkit-flex-grow: 1;
  flex-grow: 1;

  height: 100%;

  font-size: 13px;
  line-height: 1.3em;
}

.CodeMirror {
  height: 100%; 
}

.flex-item-canvas {
  order: 2;
  
  -webkit-flex-grow: 6;
  flex-grow: 6;

  display: -webkit-flex;
  display: flex;

  -webkit-align-items: center;
  align-items: center;
  
  -webkit-justify-content: center;
  justify-content: center;
}

#codemirror-textarea {
  -webkit-flex-grow: 2;
  flex-grow: 2;
  height: 100%;
}

.hidden {
  display: none;
}
