.cm-s-default .cm-paren {color: #997;}

.cm-s-default .cm-geno-keyword {color: #bbb;}
.cm-s-default .cm-geno-atom {color: #bbb;}
.cm-s-default .cm-geno-number {color: #bbb;}
.cm-s-default .cm-geno-variable {color: #bbb;}
.cm-s-default .cm-geno-string {color: #bbb;}
.cm-s-default .cm-geno-bracket {color: #bbb;}
.cm-s-default .cm-geno-paren {color: #bbb;}
.cm-s-default .cm-geno-seni-parameter {color: #bbb;}

.cm-s-default .cm-builtin {color: #00d;}
.cm-s-default .cm-seni-common {color: #70a;}

.cm-s-default .cm-seni-parameter {color: #085;}


#edit-container {
  height: 100%;
  width: 100%;
}

.flex-container-h {
  height: 100%;
  width: 100%;
  margin: 0;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

#render-img {
  width: 300px;
  height: 300px;
}

#render-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  order: 1;

  -webkit-align-items: center;
  align-items: center;
  
  -webkit-justify-content: center;
  justify-content: center;

  width: 100%;
}

#editor-container {
  order: 2;

  width: 100%;

  -webkit-flex-grow: 1;
  flex-grow: 1;

  height: 100%;

  font-size: 13px;
  line-height: 1.3em;
}

@media only screen and (min-width : 601px) {
  .flex-container-h {
    height: 100%;
    width: 100%;
    margin: 0;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  #render-img {
    width: 550px;
    height: 550px;
  }

  #render-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    order: 1;

    -webkit-align-items: center;
    align-items: center;
    
    -webkit-justify-content: center;
    justify-content: center;

    width: 100%;
  }

  #editor-container {
    order: 2;

    width: 100%;

    -webkit-flex-grow: 1;
    flex-grow: 1;

    height: 100%;

    font-size: 13px;
    line-height: 1.3em;
  }
}                               /* (min-width : 601px) */

@media only screen and (min-width : 993px) {
  .flex-container-h {
    height: 100%;
    width: 100%;
    margin: 0;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  #render-img {
    width: 550px;
    height: 550px;
  }

  #render-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    order: 1;

    -webkit-align-items: center;
    align-items: center;
    
    -webkit-justify-content: center;
    justify-content: center;

    width: 50%;
  }

  #editor-container {
    order: 2;

    width: 50%;

    -webkit-flex-grow: 1;
    flex-grow: 1;

    height: 100%;

    font-size: 13px;
    line-height: 1.3em;
  }
}                               /*  (min-width : 993px) */

#high-res-image {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 2000px;
  height: 2000px;
}

.card-image {
  transition: background 0.2s ease;
  background: white;
}

.card-image.selected {
  background: #2979ff;
}


.phenotype {
  padding: 1em;

}

.gallery-item-image {
  padding: 1em;
}

html,body {
  height: 100%;
  margin: 0;
  background-color: #E5E5E5;
  font-family: 'RobotoDraft', sans-serif;
}

.CodeMirror {
  height: 100%; 
}

.hidden {
  display: none;
}
