{
  "globals": {
    "console": true,
    "mat4": false,
    "vec3": false,
    "CodeMirror": false,
    "Immutable": false
  },
  "settings": {
    "ecmascript": 6
  },
  "ecmaFeatures": {
    "modules": true,
    "classes": true,
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": true
  },
  "env": {
    "mocha": true,
    "jasmine": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "no-empty": 0,
    "indent": [2, 2],
    "no-var": true,
    "quotes": [1, "single"],
    "no-multi-spaces": [1, {
      "exceptions": {
        "VariableDeclarator": true,
        "FunctionExpression": true
      }
    }],
    "max-len": 80,
    "no-unused-vars": 1,        
    "key-spacing": [0, {"align": "value"}],
    "no-underscore-dangle": 0
  }
}
