serve
serve.exe
seni-server
seni-server.exe

.DS_Store

/.vs

/client/www/dist
/client/www/app

/server/target

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
/core/node_modules
/core/test
/client/node_modules
/client/www/node_modules
coverage
tmp
