serve
serve.exe
seni-server
seni-server.exe

.DS_Store

/.vs

/app
/dist
/build_unix
/build_wasm
/build_win

/server/target

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules
coverage
tmp
